body{
    background: #F3F5FC;
    font-family: 'inter';
}

header{
    height: 48px;
    padding: auto;
    margin: 16px 0px 20px 68px;
}
main{
  font-size: large;
}

.inputInicio{  
  width: 520px;
  height: 48px;
  left: 240px;
  padding: 35px 0;
  font-family: 'inter';
  font-size: 32PX;
  color: #0A3871;
  background-color: #F3F5FC;
  position: relative;
  margin: 216 auto;
  border: 0;
  outline: none;
  

}
.inputInicio::placeholder{
  color: #0A3871;
  opacity: 0.5;
  left: 240px;
  
}
#advertencia{
  margin-left: 240px;
  
  margin-top: 250px;
  margin-bottom: 10px;
  font-size: small;
  color: #b9babb;
}
span { 
  display: inline-block; 
  height: 20px; 
  width: 20px; 
  line-height: 20px; 
  -moz-border-radius: 10px;  
  border-radius: 10px;
  background-color: #0A3871; 
  color: white; 
  text-align: center; 
  font-size: small;
  margin-right: 0.5em;
  
}


.boton1{
position: absolute;
margin-left: 240px;
width: 210px;
height: 70px;
border-radius: 24px;
background:  #F3F5FC;
color: #0A3871;
border-style: solid;
border-color: #0A3871;
border-width: 1px;
transition: 100ms;
}

.boton1:hover{
  background-color: #0A3871;
  color: #F3F5FC;
  border-color: #F3F5FC;
  box-shadow: 0px 24px 32px -8px black;

}
.boton1:disabled{
  color: lightgrey;
  border-color: lightgrey;
  opacity: 0.5;
}

.boton2{
  position: absolute;
  margin-left: 480px;
  width: 210px;
  height: 70px;
  border-radius: 24px;
  background:  #F3F5FC;
  color: #0A3871;
  border-style: solid;
  border-color: #0A3871;
  border-width: 1px;
  transition: 100ms;
 }
 .boton2:hover{
  background-color: #0A3871;
  color: #F3F5FC;
  border-color: #F3F5FC;
  box-shadow: 0px 24px 32px -8px black;
}
.boton2:disabled{
  color: lightgrey;
  border-color: lightgrey;
  opacity: 0.5;
}
.botones-secundarios{
  position: relative;
  left: 814px;
}
#copy{
  width: 180px;
  height: 70px;
  margin: 0 15px 0 0;
  border-radius: 24px;
  background:  #F3F5FC;
  color: #0A3871;
  border-style: solid;
  border-color: #0A3871;
  border-width: 1px;
  transition: 100ms;
}
#copy:hover{
  background-color: #0A3871;
  color: #F3F5FC;
  border-color: #F3F5FC;
  box-shadow: 0px 24px 32px -8px black;
}
#recarga{
  width: 180px;
  height: 70px;
  margin: 0 20px 0 0;
  border-radius: 24px;
  background:  #F3F5FC;
  color: #0A3871;
  border-style: solid;
  border-color: #0A3871;
  border-width: 1px;
  transition: 100ms;
}
#recarga:hover{
  background-color: #0A3871;
  color: #F3F5FC;
  border-color: #F3F5FC;
  box-shadow: 0px 24px 32px -8px black;
}
#recarga:focus{
  background-color: #0A3871;
  color: #F3F5FC;
  border-color: #F3F5FC;
  box-shadow: 0px 24px 32px -8px black;
  }



#rectangulo {
    display: inline-block; 
    margin: 40px 0;
    position: absolute;
    width: 400px;
    height:80%;
    left: 804px;
    top: 40px;
    background: rgb(253, 251, 251);
    box-shadow: 0px 24px 32px -8px black;
    border-radius: 32px;
    
  }
  #munheco{
    margin: 80px 20px;
    position: absolute;
    width: 336px;
    height: 35%;
    left: 814px;
    top: 60px;
    
  }
  .mensajeMunheco::first-line{
    font-weight: bold;
  }

  #mensajeMunheco2{
    text-align: center;
    display: none;
    
    margin: 35px 0 0 35px;
  }
  
 
  #resultado{
    resize: none;
    margin: 60px 20px;
    position: absolute;
    width: 336px;
    height: 40%;
    left: 814px;
    top: 60px;
    font-family: 'inter';
    font-size: 32PX;
    color: #0A3871;
    border-style: none;
    
  }
  footer{
    position: absolute;
    width: 100%;
    height: 10%;
    top: 750px;
    text-align: center;
    background: black;
    text-align: center;
    color: #F3F5FC;
    padding: 20px;
    line-height : 25px;
}


@media screen and (max-width:480px){
  header{
    height: auto;
    margin: 30px auto

  }
  
  .inputInicio{
      width: 100%;
      margin-top: 100px;
     text-transform: initial;
      left: 0px;
      padding: 0px
      
      
  }
  #advertencia{
    margin-left: auto;
    text-align: center;
    
  }
  #rectangulo{
    display: none;
  }
  #munheco{
    display: none;
  }
  #mensajeMunheco2{
    display: inline;
    font-weight: bold;
  }
 
  #resultado{
    position: absolute;
    text-align: center;
    left: 0px;
    width: 100%;
    height: auto;
    margin-top: 590px;
    margin-right: 15px;
    font-weight: bold;
    margin-bottom: auto;
  
  }

  .boton1{
    position: relative;
    margin-left: 0px;
    margin-right: 15px;
    width: 200px;
    height: 70px;
  }
  .boton2{
    position: absolute;
    margin-left: auto;
    width: 200px;
    height: 70px;
  }
  #textoDerecho{
    display: block;
    left: 0px;
    margin-left: 0px;
    width: 200px;
    height: 70px;
  }
  .botones-secundarios{
    position: absolute;
    margin-left: 0px;
    left: 0px;
  

  }
  #copy{

    width: 200px;
    height: 70px;
   
  }
  #recarga{
    position: absolute;
    width: 200px;
    height: 70px;
    margin: 0 0 0 0;
   
  }
 
  .boton1:disabled{
    display: none;
  }
  .boton2:disabled{
    display: none;
  }
  footer{
    position: absolute;
    top: 915px;
    margin: auto;
    height: auto;
  }
}

